@spriteURL:         url("https://s-static.ak.fbcdn.net/rsrc.php/v2/yx/r/ictfem8kqJR.png");

body                { color: #333333; font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; font-size: 11px; }
h3                  { line-height: 20px;}
p                   { margin: 0 0 0 0; }
a:hover             { text-decoration: none;}
h6                  { font-size: 11px; color: #3B5998; font-weight: normal;}
h1                  { color: #3B5998; font-size: 30px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
                      line-height: 30px;}
ul                  { list-style: none; }
a                   { color: #3B5998;}