@transform (value)  {}
.leftPost           { background: none repeat scroll 0% 0% white; margin-right: 12px; border: 1px solid rgb(204, 204, 204);
                      border-radius: 3px 3px 3px 3px; padding: 9px;}
.leftPost:after     { content: " "; position: absolute; height: 10px; width: 10px; background: white; border-right: 1px solid #ccc;
                      border-top: 1px solid #ccc; top: 20px; right: -7px; -moz-transform: rotate(45deg);
                      -webkit-transform: rotate(45deg); }