<div class="row">
<div id="footerHead" class="span14">
    <div class="leftSection">
        <span> Facebook © 2012</span>
        <a title="Use Facebook in another language." href="#">English (US)</a>
    </div>
    <div class="rightSection">
        <a title="Read our blog, discover the resource center, and find job opportunities." href="#">About</a>
        &middot;
        <a title="Advertise on Facebook." href="#">Create an Ad</a>
        &middot;
        <a title="Create a Page" href="#">Create a Page</a>
        &middot;
        <a title="Develop on our platform." href="#">Developers</a>
        &middot;
        <a title="Make your next career move to our awesome company." href="#">Careers</a>
        &middot;
        <a title="Learn about your privacy and Facebook." href="#">Privacy</a>
        &middot;
        <a title="Learn about cookies and Facebook." href="#">Cookies</a>
        &middot;
        <a title="Review our terms and policies." href="#">Terms</a>
        &middot;
        <a title="Visit our Help Center." href="#">Help</a>
    </div>
</div>
</div>