<div class="container">
    <div class="row">
        <div class="span4">
            <div>
                <span> Facebook © 2012</span>
                <a title="Use Facebook in another language." href="#">English (US)</a>
            </div>
        </div>
        <div class="span12">
            <a title="Read our blog, discover the resource center, and find job opportunities." href="#">About</a>
            <a title="Advertise on Facebook." href="#">Create an Ad</a>
            <a title="Create a Page" href="#">Create a Page</a>
            <a title="Develop on our platform." href="#">Developers</a>
            <a title="Make your next career move to our awesome company." href="#">Careers</a>
            <a title="Learn about your privacy and Facebook." href="#">Privacy</a>
            <a title="Learn about cookies and Facebook." href="#">Cookies</a>
            <a title="Review our terms and policies." href="#">Terms</a>
            <a title="Visit our Help Center." href="#">Help</a>
        </div>
    </div>
</div>