<div class="container">
    <div class="row">
    <a class="span2" id="mainLogo" href="#"><img src="img/fb_logo.png"></a>
    <div id="notification">
        <a class="requestIcon" href="#"></a>
        <a class="messagesIcon" href="#"></a>
        <a class="notificationsIcon" href="#"></a>
    </div>
    <form id="searchForm" class="input-append" style="float: left; margin-top: 10px; margin-left: 10px;">
        <input id="searchBox" class="span2" placeholder="Search for people, places and things" type="text">
        <button id="searchSubmit" class="btn" type="button"></button>
    </form>
    <div id="userMenu" class="userMenuLinks">
        <a href="#"><img class="userImage" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/195596_1432637364_583106283_q.jpg">Olexandr   Zagorodnik</a>
        <a href="#">Find Friends</a>
        <a href="#">Home</a>
    </div>
    </div>
</div>