<header id="aboutUser" class="span14">
    <img id="mainImage" src="http://a5.sphotos.ak.fbcdn.net/hphotos-ak-ash3/546469_10150908512068306_1360731329_n.jpg">
    <img id="profileImage" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/174560_40796308305_2093137831_n.jpg">
    <h3>
        Coca-Cola
        <span>43,265,247 likes · 621,553 talking about this</span>
    </h3>
    <div class="likeButton">
        <button class="btn">
            <i class="icon icon-thumbs-up"></i>
            <strong>Like</strong>
        </button>
    </div>
    <div class="btn-group messButton">
        <button class="btn"><strong>Message</strong></button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon icon-cog"></i>
            <span class="caret"></span>
        </button>
    </div>
</header>
<footer id="moreInfo" class="span14">
    <a href="#">
        <div class="span4">
            <p>Food/Beverages
                <span> The Coca-Cola Facebook Page is a collection of your stories showing how people from around the world have helped make Coke into what it is today.</span>
            </p>
            <span>About</span>
        </div>
    </a>
    <a href="#">
        <div class="span2">
            <img src="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc7/399718_10151959216133306_1998442799_a.jpg">
            <span>Photos</span>
        </div>
    </a>
    <a href="#">
        <div class="span2">
            <img src="https://fbcdn-photos-a.akamaihd.net/photos-ak-snc7/v85005/16/131422030337824/app_10_131422030337824_1977399262.gif">
            <span>Likes</span>
        </div>
    </a>
    <a href="#">
        <div class="span2">
            <img src="https://fbcdn-photos-a.akamaihd.net/photos-ak-snc7/v85006/57/161193133389/app_10_161193133389_2413.gif">
            <span>Home</span>
        </div>
    </a>
    <a href="#">
        <div class="span2">
            <img src="https://fbcdn-vthumb-a.akamaihd.net/hvthumb-ak-ash3/50994_431954703528180_431952630195054_54370_1317_t.jpg">
            <span>Videos</span>
        </div>
    </a>
</footer>
<div class="container">
    <div class="" id="timeLine">
        <div class="span14">
            <button style="width: 100px; margin: auto; display: block;">Highlights</button>
        </div>
        <div class="span7">

            <div style="background: none repeat scroll 0% 0% white; margin-right: 12px; border: 1px solid rgb(204, 204, 204); border-radius: 5px 5px 5px 5px; padding: 9px;">

                <div class="">
                    <div class="span1">
                        <p>Post</p>
                    </div>
                    <div class="span2">
                        <a href="#">Photo/Video</a>
                    </div>
                </div>
                <div class="">
                    <input class="span6" placeholder="Write something..." type="text">
                    <input name="placeholder" value="1" type="hidden">
                </div>
            </div>
        </div>


        <div class="span7 timeLinePost">
            <div class="">
                <span>1</span>
                <a href="#">friend</a>
                <p>Likes Coca-Cola</p>
            </div>
            <div class="">
                <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/195341_1208133500_982050182_n.jpg">
            </div>
        </div>
    </div>
</div>