<section id="aboutUser" class="span14">
    <img id="mainImage" src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/557402_10151948639733306_1048781480_n.png">
    <img id="profileImage" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/174560_40796308305_2093137831_n.jpg">
    <div id="titleBar">
        <h3> Coca-Cola </h3>
        <span> 43,265,247 likes · 621,553 talking about this </span>
        <div id="message_btn" class="btn-group messButton">
            <button class="btn">Message</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon icon-cog"></i>
                <span class="caret"></span>
            </button>
        </div>
            <button id="like_btn" class="btn">
                <i class="icon icon-thumbs-up"></i>
                Like
            </button>


    </div>
    <div id="moreInfo">
        <div class="about span5">
            <a href="#">
                <div class="aboutContent">
                    <span>Food/Beverages</span>

                    <p> The Coca-Cola Facebook Page is a collection of your stories showing how people
                        from around the world have helped make Coke into what it is today. </p>
                </div>
                <h6>About</h6>
            </a>
        </div>
        <div class="span2">
            <a href="#">
                <div class="photos">
                    <img src="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/75181_10151988803123306_2106272739_a.jpg">
                </div>
                <h6>Photos</h6>
            </a>
        </div>
        <div class="span2">
            <a href="#">
                <div class="likes">
                    <img src="https://fbcdn-photos-a.akamaihd.net/photos-ak-snc7/v85005/16/131422030337824/app_10_131422030337824_1977399262.gif">
                </div>
                <h6>Likes</h6>
            </a>
        </div>
        <div class="span2">
            <a href="#">
                <div class="home">
                    <img src="https://fbcdn-photos-a.akamaihd.net/photos-ak-snc7/v85006/57/161193133389/app_10_161193133389_2413.gif">
                </div>
                <h6>Home</h6>
            </a>
        </div>
        <div class="span2">
            <a href="#">
                <div class="videos">
                    <img src="https://fbcdn-photos-a.akamaihd.net/photos-ak-snc7/v85006/5/157159154424389/app_10_157159154424389_464804085.gif">
                </div>
                <h6>Videos</h6>
            </a>
        </div>
    </div>
</section>
<div class="">
    <div class="createPage">
        <a href="#"><span>+</span> Create A Page</a>
    </div>
    <div>
        <ul class="chronology span1">
            <li><a href="">Now</a></li>
            <li><a href="">September</a></li>
            <li><a href="">2012</a></li>
            <li><a href="">2011</a></li>
            <li><a href="">2010</a></li>
            <li><a href="">2009</a></li>
            <li><a href="">2008</a></li>
            <li><a href="">1990s</a></li>
            <li><a href="">1980s</a></li>
            <li><a href="">1970s</a></li>
            <li><a href="">1960s</a></li>
            <li><a href="">1950s</a></li>
            <li><a href="">1940s</a></li>
            <li><a href="">1930s</a></li>
            <li><a href="">1928s</a></li>
            <li><a href="">1910s</a></li>
            <li><a href="">1800s</a></li>
            <li><a href="">Founded</a></li>
        </ul>
    </div>
</div>

<div id="timeLine">
    <div class="span14">
    <div id="highlight">
        <span>Highlights</span>
    </div>
    </div>
    <div class="span7">
        <div class="leftPost">
            <div class="postHeader">

            </div>
        </div>
    </div>


    <div class="span7">
        <div class="rightPost">
            <div>
                <span>1</span>
                <a href="#">friend</a>

                <p>Likes Coca-Cola</p>
            </div>
            <div>
                <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/195341_1208133500_982050182_n.jpg">
            </div>
        </div>
    </div>
</div>