<section id="aboutUser" class="span14">
    <img id="mainImage" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-snc7/416803_10150682306963306_812683101_n.jpg">
    <img id="profileImage" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/174560_40796308305_2093137831_n.jpg">
    <div id="titleBar">
        <h3> Coca-Cola </h3>
        <span> 43,265,247 likes · 621,553 talking about this </span>
        <div id="message_btn" class="btn-group messButton">
            <button class="btn">Message</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon icon-cog"></i>
                <span class="caret"></span>
            </button>
        </div>
            <button id="like_btn" class="btn">
                <i class="icon icon-thumbs-up"></i>
                Like
            </button>


    </div>
    <div id="moreInfo">
        <div class="about span5">
            <a href="#">
                <div class="aboutContent">
                    <span>Food/Beverages</span>

                    <p> The Coca-Cola Facebook Page is a collection of your stories showing how people
                        from around the world have helped make Coke into what it is today. </p>
                </div>
                <h6>About</h6>
            </a>
        </div>
        <div class="span2">
            <a href="#">
                <div class="photos">
                    <img src="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/75181_10151988803123306_2106272739_a.jpg">
                </div>
                <h6>Photos</h6>
            </a>
        </div>
        <div class="span2">
            <a href="#">
                <div class="likes">
                    <img src="https://fbcdn-photos-a.akamaihd.net/photos-ak-snc7/v85005/16/131422030337824/app_10_131422030337824_1977399262.gif">
                </div>
                <h6>Likes</h6>
            </a>
        </div>
        <div class="span2">
            <a href="#">
                <div class="home">
                    <img src="https://fbcdn-photos-a.akamaihd.net/photos-ak-snc7/v85006/57/161193133389/app_10_161193133389_2413.gif">
                </div>
                <h6>Home</h6>
            </a>
        </div>
        <div class="span2">
            <a href="#">
                <div class="videos">
                    <img src="https://fbcdn-photos-a.akamaihd.net/photos-ak-snc7/v85006/5/157159154424389/app_10_157159154424389_464804085.gif">
                </div>
                <h6>Videos</h6>
            </a>
        </div>
    </div>
</section>
<div class="">
    <div class="createPage">
        <a href="#"><span>+</span> Create A Page</a>
    </div>
    <div>
        <ul class="chronology span1">
            <li><a href="">Now</a></li>
            <li><a href="">September</a></li>
            <li><a href="">2012</a></li>
            <li><a href="">2011</a></li>
            <li><a href="">2010</a></li>
            <li><a href="">2009</a></li>
            <li><a href="">2008</a></li>
            <li><a href="">1990s</a></li>
            <li><a href="">1980s</a></li>
            <li><a href="">1970s</a></li>
            <li><a href="">1960s</a></li>
            <li><a href="">1950s</a></li>
            <li><a href="">1940s</a></li>
            <li><a href="">1930s</a></li>
            <li><a href="">1928s</a></li>
            <li><a href="">1910s</a></li>
            <li><a href="">1800s</a></li>
            <li><a href="">Founded</a></li>
        </ul>
    </div>
</div>

<div id="timeLine">
    <div class="span14">
    <div id="highlight">
        <span>Highlights</span>
    </div>
    </div>
    <div class="span7">
        <div class="leftPost">
            <header>
                <div class="post">
                    <img src="img\postIcon.png">
                    Post
                </div>
                <div class="photoVideo">
                    <img src="img\photoVideo.png">
                    <a href="#">Photo/Video</a>
                </div>
            </header>
            <section>
                <input placeholder="Write something..." type="text">
            </section>
        </div>

        <div class="leftPostNorm">
            <header>
                <div class="activity">
                    <div class="title">Activity</div>
                    <p>October</p>
                </div>
            </header>
            <section>
                <div class="topSection">
                    People Who Like This
                </div>
                <h1>685k</h1>
            </section>
        </div>
        <div class="leftPostNorm">
            <div class="drinksHeader">
                <p>Likes</p>
                <a href="#">See All</a>
            </div>
            <div class="border"></div>
            <ul class="drinkItems">
                <li>
                    <div class="lfloat">
                        <a href="#">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/592112_66681829158_66841253_q.jpg">
                        </a>
                        <a href=""><span>Sprite</span></a>
                        <p>Food/Beverages</p>
                    </div>
                    <div class="rfloat">
                        <i class="likeIcon"></i>
                        <a href="#">like</a>
                    </div>
                    <div class="border"></div>
                </li>
                <li>
                    <div class="lfloat">
                        <a href="#">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/41806_61124008229_1102100254_q.jpg">
                        </a>
                        <a href=""><span>Coca-Cola Zero</span></a>
                        <p>Food/Beverages</p>
                    </div>
                    <div class="rfloat">
                        <i class="likeIcon"></i>
                        <a href="#">like</a>
                    </div>
                    <div class="border"></div>
                </li>
                <li>
                    <div class="lfloat">
                        <a href="#">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/592060_8605796091_1122328750_q.jpg">
                        </a>
                        <a href=""><span>Diet Coke</span></a>
                        <p>Food/Beverages</p>
                    </div>
                    <div class="rfloat">
                        <i class="likeIcon"></i>
                        <a href="#">like</a>
                    </div>
                    <div class="border"></div>
                </li>

                <li>
                    <div class="lfloat">
                        <a href="#">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/203463_6243987495_1639034_q.jpg">
                        </a>
                        <a href="#"><span>Spotify</span></a>
                        <p>App Page</p>
                    </div>
                    <div class="rfloat">
                        <i class="likeIcon"></i>
                        <a href="#">like</a>
                    </div>
                    <div class="border"></div>
                </li>
                <li>
                    <div class="lfloat">
                        <a href="#">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/592168_23550666633_1679222498_q.jpg">
                        </a>
                        <a href="#"><span>Fanta</span></a>
                        <p>Food/Beverages</p>
                    </div>
                    <div class="rfloat">
                        <i class="likeIcon"></i>
                        <a href="#">like</a>
                    </div>
                    <div class="drinksEnd"></div>
                </li>
            </ul>
        </div>
    </div>

    <div class="span7">
        <div class="rightPostNorm">
            <header>
                <h1>1</h1>
                <a href="#">Friend</a>
                <p>Likes Coca-Cola</p>
            </header>
            <section>
                <img src="img\friendPhoto.jpg">
            </section>
        </div>
        <div class="rightPostNorm">
            <div class="recentPostHeader">
                <p>Recent Posts by Others on Coca-Cola</p>
                <a href="#">See All</a>
            </div>
            <div class="border"></div>
            <div class="recentPost">
                <a href="#">
                    <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/368834_1053225519_742829994_q.jpg">
                </a>
                <a class="userName" href="#">Gerardo Villa</a>
                <p>A quien le importe (espero que a los ejecutivos de la Coca C...</p>
                <div class="recentPostFooter">
                    <i class="likeIconSmall"></i><a href="#"> 1 </a>
                    <i class="recentPostIcon"></i><a href="#"> 2 </a>
                    <h7> &#183 2 minutes ago</h7>
                </div>
            </div>
            <div class="recentPost">
                <a href="#">
                    <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/260884_100001338534041_1752725081_q.jpg">
                </a>
                <a class="userName" href="#">Misty Walden</a>
                <p>why do yall not have coupons for coke products? I use coup...</p>
                <div class="recentPostFooter">
                    <i class="likeIconSmall"></i><a href="#"> 2 </a>
                    <h7> &#183 5 minutes ago</h7>
                </div>
            </div>
            <div class="recentPost">
                <a href="#">
                    <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/275674_1551108705_1925453487_q.jpg">
                </a>
                <a class="userName" href="#">Darragh Dudley</a>
                <p>Coke, I have a proposal, if I get 5 likes, you have to give me...</p>
                <div class="recentPostFooter">
                    <i class="likeIconSmall"></i><a href="#"> 1 </a>
                    <i class="recentPostIcon"></i><a href="#"> 5 </a>
                    <h7> &#183 10 minutes ago</h7>
                </div>
            </div>
            <div class="recentPost">
                <a href="#">
                    <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/274285_1133092462_1551354487_q.jpg">
                </a>
                <a class="userName" href="#">Jakeb Morrison</a>
                <p>Since you have 52 MILLION followers, you have to give ever...</p>
                <div class="recentPostFooter">
                    <i class="likeIconSmall"></i><a href="#"> 2 </a>
                    <h7> &#183 17 minutes ago</h7>
                </div>
            </div>
            <div class="recentPost">
                <a href="#">
                    <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/623560_1568617075_398079990_q.jpg">
                </a>
                <a class="userName" href="#">Nicolas Gómez</a>
                <p>pepsi! pepsi!</p>
                <div class="recentPostFooter">
                    <i class="likeIconSmall"></i><a href="#"> 11 </a>
                    <i class="recentPostIcon"></i><a href="#"> 1 </a>
                    <h7> &#183 20 minutes ago</h7>
                </div>
            </div>
            <div class="recentPost">
                <a href="#">
                    <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/276148_100003021828991_835921524_q.jpg">
                </a>
                <a class="userName" href="#">Justin Menendez</a>
                <p>If I get a 1000 likes or more I win if, I get any less you win.</p>
                <div class="recentPostFooter">
                    <i class="likeIconSmall"></i><a href="#"> 22 </a>
                    <i class="recentPostIcon"></i><a href="#"> 5 </a>
                    <h7> &#183 25 minutes ago</h7>
                </div>
            </div>
            <footer>
                <a href="#">More Posts</a>
                <i class="moreIconSmall"></i>
            </footer>
        </div>
    </div>

</div>